@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .blink-cursor {
    animation: cursor 1s infinite;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* brand colors */
  --brand: 39 185 139;
  --gray-1: 32 38 44;
  --gray-2: 167 172 180;
  --gray-3: 52 58 66;
}

body {
  color: white;
  /* background: rgb(var(--brand)); */
  background: white;
}
