.header {
  padding: 1em;
}

.logo {
  width: 40px;
}

.title {
  font-family: novel-sans-hebrew-cnd, sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0px;
  color: #444;
}

.section {
  padding: 4em 0;
}

.featureSection {
  border-bottom: 1px dashed #ddd;
}

.sectionTitle {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.backgroundWrapper {
  position: relative;
}

.notes {
  color: #999;
}

.footer {
  min-height: 420px;
}